@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  font-family: 'Public Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  --color-blue-950: hsl(233, 26%, 24%);
  --color-green-500: hsl(136, 64%, 51%);
  --color-cyan-400: hsl(192, 69%, 51%);
  --color-gray-600: hsl(233, 8%, 62%);
  --color-gray-100: hsl(220, 16%, 96%);
  --color-gray-50: hsl(0, 0%, 98%);
  --color-black-gradient: rgba(0, 0, 0, 0.2);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: 'Public Sans', sans-serif;
  box-sizing: border-box;
}

@theme {
  --animate-zoom-in: zoom-in 1s ease-in;

  @keyframes zoom-in {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}